<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>マイクロポスト　フィード</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>これはInstagram風のアプリです。</h1>
    <h2>
      これは
      <a href="https://www.instagram.com/">Instagram</a>
      に近しい内容を意図したサイトです。<br><br>
      こちらの情報でLogin可能です。
      <br>
      ID: example@railstutorial.org<br>
      Password: foobar<br>
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  <%# <%= link_to image_tag("instagram.png", alt: "Instagram logo", :align=> "middle", :width => '100', :height => '100'),
              'https://instapic-app.herokuapp.com/' %>
<% end %>