<h1>Instapic</h1>

<p>こんにちは <%= @user.name %>,</p>

<p>
Instapicへようこそ。アカウントを有効化するために以下のリンクをクリックしてください。 
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
