<footer class="footer">
  <small>
     <%= link_to image_tag("instagram.png", alt: "Instagram logo", :align=> "middle", :width => '50', :height => '50'),
              'https://instapic-app2.herokuapp.com/' %>
    
    The <a href="https://instapic-app2.herokuapp.com/">Instapic</a>
    by <a href="mailto:example@example.com">Ryuji Takahashi</a>
    
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://news.google.com/?hl=ja&gl=JP&ceid=JP:ja">News</a></li>
    </ul>
  </nav>
</footer>